
@{
    ViewData["Title"] = "orderconfirmed";
}

<div class="d-flex justify-content-center">
<h1>Order confirmation page !!!</h1>
</div>

<div class="d-flex justify-content-center">
 <img src="https://images.emojiterra.com/google/noto-emoji/v2.038/share/1f44d.jpg" width="50%" alt="order confirm image">
 </div>


 <div class="d-flex justify-content-center">
 <h1>Your Order is confirmed</h1>
 </div>

<div class="d-flex justify-content-center">
    <a class="btn btn-warning" onclick="    @("window.location.href='" + @Url.Action("Index","home") + "'");" role="button" target="_blank"> Back to Home Page </a>
</div>


