@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Author : Shubham Mukherjee</p>
<p>This project is made for simplilearn evaluation process.</p>
<p>The main intention of this project was devlopment, testing and deployment.</p>
<p>Source Code Control : Azure DevOps (by trainer)</p>
<p>Testing : Specflow + nunit + selenium</p>
<p>Deployment : Azure</p>
<p>Refer writeup for more information on devlopment, testing and deployment. </p>